<div class="flex justify-content-center">
    <h1>Convierte tus archivos a Base64</h1>
</div>

<p-card class="flex justify-content-center">
    <form 
        autocomplete="off"
        [formGroup]="imageForm"
        (ngSubmit)="imageFormSubmit()" >

    <input type="file" formControlName="file" (change)="onFileChange($event)">

    <p-button label="To Base64" icon="pi pi-check" type="submit"></p-button>
    </form>
</p-card>


<div class="grid flex justify-content-center">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="flex justify-content">
            <h4 class="text-blue-300">Base64 String</h4>
            <p-button icon="pi pi-copy" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
        </div>
        <textarea rows="5" cols="43" pInputTextarea >{{ base64 }}</textarea>
    </div>
    <div class="col-3 md:col-6 lg:col-3">
        <div class="flex justify-content-between">
            <h4 class="text-green-300">Base64 HTML</h4>
            <p-button icon="pi pi-copy" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
        </div>
        <textarea rows="5" cols="43" pInputTextarea >{{ base64Html }}</textarea>
    </div>
    <div class="col-3 md:col-6 lg:col-3">
        <div class="flex justify-content-between ">
            <h4 class="text-orange-300">Base64 CSS</h4>
            <p-button icon="pi pi-copy" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
        </div>
        <textarea rows="5" cols="43" pInputTextarea >{{ base64CSS }}</textarea>
    </div>
</div>

